---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>

  <p>
    I am an experienced software developer and M.Sc. in space physics, with more than 7 years of experience in developing robust and resilient SW solutions, and more than 10 years of total experience in technology development and engineering. 
  </p>

  <a href="http://linkedin/in/rtrollebo">LinkedIn</a>

</BaseLayout>
