---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>

  <p>
    I am an experienced software developer and M.Sc. in space physics, with extensive experience in developing robust and resilient SW solutions, as well as broad experience in technology development and engineering. 
  </p>

  <a href="http://www.linkedin.com/in/rtrollebo">LinkedIn.com/rtrollebo</a>

</BaseLayout>
