---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "rtrollebo.github.io";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Trollebø web</h2>
  
  <p>Notes on mathematical analysis, physics and software engineering</p>

  <p>Documentation and software packages: <a href="/documentation">Documentation</a></p>

</BaseLayout>
