---

export enum SeriesType {
  IberianBlackout = "iberianBlackout",
  Empty = "empty"  
}

interface Props {
  type: SeriesType;
}

const { type } = Astro.props;

const texts = {
  [SeriesType.IberianBlackout]: "This note is part of a series of notes on the subject of the Iberian power blackout that occured on April 28 2025, with focus on the technical details and capacity of the energy systems, as well as evaluation of possible causes.",
  [SeriesType.Empty]: ""
};
---

<style>
  .info-box {
    box-shadow: 0 6px 12px rgba(50, 75, 120, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .info-box:hover {
    box-shadow: 0 12px 24px rgba(50, 75, 120, 0.2);
  }
  .info-box {
    border-left: 4px solid rgb(50, 75, 120);
    padding: 1rem;
    margin: 1rem 0;
  }
</style>


{texts[type] &&  
<div class="info-box">
  {texts[type]}
</div>
}

