---
const { title, link, body } = Astro.props;
---

<script>

const element = document.documentElement;
const isDark = element.classList.contains("dark");
const mode = isDark ? "dark" : "light";
const linkElement = document.getElementById("noteTitle");

if (linkElement !== null) {
    linkElement.classList.remove('darktheme');
    linkElement.classList.remove('lighttheme');
}

if (linkElement !== null) {
    if (mode === "dark") {
        console.log("dark mode");
        linkElement.classList.add('darktheme');
    } 
    if (mode === "light") {
        console.log("light mode");
        linkElement.classList.add('lighttheme');
    }

}

</script>

<style>

    .lighttheme {
        color: rgb(50, 75, 120);
        font-size: x-large;
        font-weight: 700;
    }

    .darktheme {
        color: white
        font-size: x-large;
        font-weight: 700;
    }
    
</style>

<p>
    <a id="noteTitle" href={link}>{title}</a><br>
    <i>{body}</i>
</p>
<p><slot /></p>
